img.imagen_plano {
    border: 5px double;
}

div.simple {
    padding:0px;
    margin: 0px;
}

span.texto_imagen {
    position: absolute;
    left: 270px;
    top: 140px;
    margin: auto;
    background-color: white;
    font-family: "Arial Black" ;
}

span.texto_puntos {
    color: black;
    background-color: white;
    position: relative;
    bottom: 15px;
}

span.punto_redondo {
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

span.interior {
    height: 15px;
    width: 15px;
    top: -17px;
    left: 2px;
}

span.exterior {
    height: 19px;
    width: 19px;
}

.margen_izquierda {
    position:relative;
    margin-left: 10px;
}

.margen_arriba {
    position:relative;
    margin-top: 5px;
}

.margen_abajo {
    position:relative;
    margin-bottom: 5px;
}

.doble_margen_abajo {
    position: relative;
    margin-bottom: 15px;
}

input.fecha {
    width: 50px;
    text-align: right;
}