.imagen_plano {
    position:static;
    padding:0px;
    margin: 0px;
    border: 5px double;
}

.punto_redondo {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.puntos {
    color: black;
    background-color: white;
    position: absolute;
}