img.imagen_plano {
    border: 5px double;
}

div.simple {
    padding:0px;
    margin: 0px;
}

span.texto_imagen {
    position: absolute;
    left: 270px;
    top: 140px;
    margin: auto;
    background-color: white;
    font-family: "Arial Black" ;
}

span.texto_puntos {
    color: black;
    background-color: white;
    position: relative;
}

span.punto_redondo {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.margen_izquierda {
    position:relative;
    left: 10px;
}